{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 38, "knowledge_revision": 78, "git_revision": "6ea3a3d568b9f2d041ed72e4c997aa7f4d2d78ec", "hash": "9281048f0f9e36e5268de7b68c07cc55", "format-version": 4, "code-base-name": "default", "filename": "backend_workspace/backend/requirements.txt", "revision_history": [{"78": "6ea3a3d568b9f2d041ed72e4c997aa7f4d2d78ec"}]}